---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="pedroalonsoms - blog">
  <main class="max-w-screen-lg mx-auto px-6">
    <section class="pt-10">
      <h1 class="text-4xl md:text-5xl">
        <span class="text-gray-500">#</span> Blog
      </h1>

      <p class="pt-6">Coming soon!</p>
    </section>
  </main>
</Layout>
