---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="pedroalonsoms - contact">
  <main class="max-w-screen-lg mx-auto px-6">
    <section class="pt-10">
      <h1 class="text-4xl md:text-5xl">
        <span class="text-gray-500">#</span> Contact
      </h1>

      <ul class="pt-6">
        <li>
          <strong>- LinkedIn:</strong>
          <a
            class="underline"
            target="_blank"
            href="https://www.linkedin.com/in/pedroalonsoms/"
          >
            https://www.linkedin.com/in/pedroalonsoms/
          </a>
        </li>
        <li>
          <strong>- GitHub:</strong>
          <a
            class="underline"
            target="_blank"
            href="https://github.com/pedroalonsoms"
          >
            https://github.com/pedroalonsoms
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
