---
import Layout from "../layouts/Layout.astro";
---

<Layout title="pedroalonsoms">
  <main>
    <nav>
      <div>
        <a class="text-white font-extralight text-3xl" href="/">pedroalonsoms</a
        >
      </div>
    </nav>
  </main>
</Layout>
