---
import Layout from "../layouts/Layout.astro";
---

<Layout title="pedroalonsoms">
  <main>
    <div class="max-w-screen-lg mx-auto px-6">
      <h1 class="text-6xl">
        <span class="text-gray-500">#</span> Hello, I'm Pedro
      </h1>
      <p class="pt-6">
        My name is Pedro Alonso Moreno Salcedo. I'm currently styudying Computer
        Science @TecDeMonterrey (Monterrey, Mexico 🇲🇽).
      </p>
      <p class="pt-6">
        I've been liking full-stack web development and all the ecosystem around
        it. <span class="underline decoration-wavy decoration-red-500"
          >TypeScript</span
        > is the language I enjoy the most.
      </p>
      <p class="pt-6">
        I have been doing some professional web-development freelance & recently
        I joined Oracle as a Software Developer Intern.
      </p>
    </div>
  </main>
</Layout>
